[submodule "zsh"]
	path = zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "zsh_custom/plugins/zsh-nvm"]
	path = zsh_custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
